---
layout: page
title: "Notre équipe Clash Royale"
description: "Notre fonctionnement, nos actualités, nos aventures"
header-img: "img/clash-royale/clashroyale-bg.jpg"
tags: clash
---

{% for post in site.categories.clash-royale %}
    {% if post.rules %}
        <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h4>Post épinglé</h4>
                <h2 class="post-title" style="color: #dc6666; margin-top: 10px">            {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                    {{ post.subtitle }}
                </h3>
                {% endif %}
            </a>
            <p class="post-meta">Publié par {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} le {{ post.date | date: "%d/%m/%Y" }}</p>
        </div>
        <hr>
    {% endif %}
{% endfor %}

{% for post in site.categories.clash-royale %}
    {% unless post.rules %}
        <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">            {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                    {{ post.subtitle }}
                </h3>
                {% endif %}
            </a>
            <p class="post-meta">Publié par {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} le {{ post.date | date: "%d/%m/%Y" }}</p>
        </div>
        <hr>
    {% endunless %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Posts plus récents</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Posts précédents &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}